.iosSelectText {
  font-size: 10pt;
  color: grey;
  padding-top: 13px;
  padding-right: 26px;
  width: 55%;
  text-align: right;

  .x-innerhtml {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.iosSelectLabel {
  width: 45%;
  padding-right: 0;

}

.iosSelectField .x-dock {
  width: 100%;
}

.x-field {

  &.navlist-item {
    background-image: url("../images/ArrowRight.png");
    background-repeat: no-repeat;
    background-position: right center;
  }

  @media screen and (-webkit-device-pixel-ratio: 2) {
    &.navlist-item {
      background-image: url("../images/ArrowRight@2x.png");
    }
  }
}
